<ion-content class="ion-padding">
  <div class="welcome-container">
    <h1 class="title">Bienvenido Agricultor</h1>

    <img src="assets/img/body.svg" alt="Bienvenido" class="welcome-img" />

    <p class="description">
      ¿Cómo te ayudo hoy?
    </p>

    <div class="button-group">
      <ion-button href="/tabs/tab2" color="primary" class="btn">Consulta Insumo</ion-button>
      <ion-button href="/crop-selection" color="primary" fill="outline" class="btn">Asesora mi campaña</ion-button>
    </div>
  </div>
</ion-content>