<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Historial Cultivos
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Métricas principales -->
  <div class="stats-container">
    <div class="stat-card">
      <h2> {{cantidad}} </h2>
      <p>Cultivos</p>
    </div>
    <div class="stat-card">
      <h2> {{consulta}} </h2>
      <p>Consultas</p>
    </div>
  </div>

  <!-- Mis Parcelas -->
  <div class="section-header">
    <h3>Mis Cultivos</h3>
  </div>

  <ion-list lines="none">
    <ion-card *ngFor="let camp of campana" class="parcela-card trigo">
      <ion-card-header class="header-with-image">
        <div class="header-content">
          <img src="{{camp.imagen}}" alt="Trigo" class="cultivo-img" />
          <div class="text-content">
            <ion-card-title>{{camp.descripcion}}</ion-card-title>
            <ion-card-subtitle> {{camp.formatoLargo}} </ion-card-subtitle>
          </div>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="info">
          <div class="info-item">
            <ion-icon name="calendar-outline"></ion-icon>
            <span>{{camp.dias}}</span>
          </div>
          <div class="info-item">
            <ion-icon name="resize-outline"></ion-icon>
            <span>{{camp.hecatareas}} hect</span>
      
          </div>
        </div>
        
        <p class="last-action"> {{camp.diffDiasultimoinsumo}} </p>

        <ion-button expand="block" fill="outline" (click)="datoscampana(camp)" color="medium">Ver detalle</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>