ion-toolbar {
    --background: #f1c40f;
    color: #fff;
    font-weight: 600;

}

.ion-text-start {
    font-weight: 600;
}

.subtitle {
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 10px;
}



.card-info {
    border-left: 5px solid #3498db;
    background-color: #ecf5ff;
    box-shadow: none;
    border-radius: 15px;
    margin-top: 20px;

    ion-card-title {
        color: #2e86c1;
        font-weight: 800;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.5rem;

        ion-icon {
            font-size: 30px;
        }
    }


}

.info-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.info-line strong {
    font-weight: 600;
    color: #2c3e50;
    font-size: 17px;
}

.info-line span {
    text-align: right;
    color: #34495e;
    font-size: 15px;
}

.uso-card {
    border-left: 6px solid #2e7d32;
    background: #f8fff8;

    ion-card-title {
        color: #2e7d32;
        font-weight: 800;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.5rem;

        ion-icon {
            font-size: 30px;
        }
    }
}

.dosis {
    font-weight: 700;
    color: #1b5e20;
    font-size: 1.1rem;
}

.detalle {
    font-size: 0.75rem;
    color: #555;
    margin-bottom: 10px;
}

.titulo-aplicar {
    color: #1565c0;
    font-weight: 600;
    margin-top: 10px;
}

.espera-card {
    background: #fff7e6;
    border-left: 5px solid #f9a825;
    margin-top: 12px;
}

.espera-texto {
    font-weight: 700;
    color: #d17f00;
}

.ph-card {
    background: #eef3ff;
    border-left: 5px solid #2962ff;
}

.ph-texto {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: 6px;
}

.ph-texto .ideal {
    font-weight: 600;
    color: #1b5e20;
}

.ph-barra {
    height: 10px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    margin: 8px 0;
}

.zona {
    flex: 1;
}

.zona.acido {
    background: #ef5350;
}

.zona.ideal {
    flex: 2;
    background: #4caf50;
}

.zona.alcalino {
    background: #ef5350;
}

.ph-valores {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #444;
}



.riesgo-card {
    border-left: 6px solid #c62828;
    background: #f8fff8;

    ion-card-title {
        color: #c62828;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.2rem;

        ion-icon {
            font-size: 30px;
        }
    }

    .chipstitle {
        color: #b71c1c;
        font-size: 1.1rem;
    }

    .maximo {

        color: #b71c1c;
        margin-top: 10px;
    }
}




.chips {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    margin: 8px 0;
}

ion-chip {
    font-size: 1rem;
}





.btn-actualizar {
    --background: #28a745;
    --background-hover: #23963d;
    --background-activated: #1f7e33;
    --border-radius: 14px;
    --color: #fff;
    --padding-top: 14px;
    --padding-bottom: 14px;
    font-weight: 600;
    margin-top: 12px;
    box-shadow: 0 2px 6px rgba(40, 167, 69, 0.35);
}

.btn-eliminar {
    --background: #423e3e;
    --background-hover: #f1f1f1;
    --background-activated: #fffcfc;
    --color: #ffffff;
    --border-radius: 14px;
    --border-color: #ffffff;
    --border-width: 1px;
    --padding-top: 14px;
    --padding-bottom: 14px;
    font-weight: 600;
    margin-top: 12px;
    box-shadow: 0 2px 6px rgba(255, 0, 0, 0.08);
}

.btn-eliminar ion-icon {
    color: #ffffff;
}




.medio-card {
    border-left: 6px solid #ffc409;
    background: #f8fff8;

    ion-card-title {
        color: #ffc409;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.2rem;

        ion-icon {
            font-size: 30px;
        }
    }

    .chipstitle {
        color: #ffc409;
        font-size: 1.1rem;
    }

    .maximo {

        color: #ffc409;
        margin-top: 10px;
    }
}

.bajo-card {
    border-left: 6px solid #28a745;
    background: #f8fff8;

    ion-card-title {
        color: #28a745;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1.2rem;

        ion-icon {
            font-size: 30px;
        }
    }

    .chipstitle {
        color: #28a745;
        font-size: 1.1rem;
    }

    .maximo {

        color: #28a745;
        margin-top: 10px;
    }
}
.recomend-card {
  border: 2px solid #8fd7a6;
  border-radius: 12px;
  padding: 12px;
}

.titulo {
  font-size: 18px;
  font-weight: 700;
  color: #1e8f4c;
  display: flex;
  align-items: center;
  gap: 6px;
}

.item-line {
  display: flex;
  align-items: flex-start;
  margin-top: 16px;
  gap: 10px;

  .icon {
    font-size: 22px;
    color: #1e8f4c;
    margin-top: 4px;
  }

  .text-block {
    font-size: 15px;

    .dosis {
      font-size: 20px;
      font-weight: 700;
      color: #000;
    }
  }
}

.compatibilidad {
  margin-top: 20px;
  background: #e6f6e9;
  color: #1e8f4c;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;

  ion-icon {
    font-size: 20px;
  }
}
